<div class="center jumbotron">
<h1>Welcome to My Blog</h1>
<h2>
欢迎光临My Blog,

<%= link_to "关于我",about_path%>
这里有更多的信息
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("2.png", alt: "Rails logo", width: "100"),
"#" %>




